.container {
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
  margin-top: 30px;
}

.content {
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.0); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 80%; /* Full width */
  margin-top: 30px;
  margin: 0 auto; /* Center it */
  
}

#intro{
      color: white;
      font-size: 28px;
      text-align: center;
      margin-top: 0px;
}

p{
      color: white;
      font-size: 15px;
      margin-top: 0px;

}

.footer {
   bottom: 0;
   width: 100%;
   background-color: dimgrey;
   height: 5vh;
   opacity: 0.6;
   color: white;
   text-align: right;
}

#foot{
     width: 20px; /* Full width */
     height: 20px;
}

#from{
    font-size: 20px;
    margin-right: 20px;
}

a{
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}
